# 渠道配置文件开始
[应用宝]YYBCPA
[QQFeed]QQfeed
[未知GDT_72_72]GDT_72_72
[未知GDT_yyq]GDT_yyq
[QQ收发平台]QQshoufa
[腾讯]Tencent
[小米]Xiaomi
[OPPO]OPPO
[华为]Huawei
[360]_360
[360推荐]_360_tuijian
[360软件]_360_ruanjian
[360搜索]_360_sousuo
[360活动]_360_huodong
[360其他]_360_qita
[360优惠券]_360_youhuiquan
[百度]Baiduas
[豌豆荚]Wandoujia
[米果]Meguo
[安智]Anzhi
[Hi安卓]Hiapk
[联想]Lenovo
[淘宝]Taobao
[应用宝-微信]YYB_CPA_APPXW
[应用宝YYB_CPA_SYXQ]YYB_CPA_SYXQ
[魅族]MEIZU
[VIVO]VIVO
[搜狗]sogou
[移动MM]yidongmm
[沃商店]wostore
[苏宁]suning
[未知nduoa]nduoa
[趣应用]appfun
[天翼]tianyi
[金立]gionee
# 渠道配置文件结束